*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}



body{
    height: 100%;
    width: 100%;
    


    header{
        position: fixed;
        padding: 25px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        width: 100%;
        
        ul{
            background-color: rgba(237, 237, 237, 0.400);
            display: flex;
            align-items: center;
            gap: 70px;
            border-radius: 50px;

            li{
                list-style: none;
                padding: 9px;
                .link{
                    position: relative;
                    color: black;
                    text-decoration: none;
                    padding-left:5px;
                    padding-right:5px;
                    cursor: pointer;
                    
                    
                    


                    &::after{
                        content: "";
                        position: absolute;
                        bottom: -5px;
                        width: 0%;
                        left: 50%;
                        height: 2px;
                        background-color: #59D7FF;
                        transition: 0.4s ease-out;   
                     
                    }

                    &:hover::after{
                    left: 0;
                    width: 100%; 
                    }


                }
                
                

            }
        


            
        }

        .contact{
            text-decoration: none;
            color: black;
            border-radius: 90px;
            border: solid 2px black;
            padding: 8px;
           }

        .contact:hover{
        background-color: #59d8ffbd;
        color: white;}
            
    }




    main{
        display: flex;
        .photo{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            h3{
                position: fixed;
                bottom: 70%;
                z-index:2;
                left: 19%;
                font-size: 25px;
                

                &::after{
                    content: "";
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    height: 2px;
                    width: 100%;                    
                    background-color: #59D7FF;
                }

            }
            img{
                align-items: center;
                background-color: rgb(185, 188, 190);
                border-radius: 90%;
                position:fixed;
                width: auto 50%;
                height: 70%;
                bottom: 0;
                transition: 0.4s;
            }

            img:hover{
                box-shadow: 0px -30px 50px #59d8ffa8;
                width:  auto 60%;
                height: 75%; 
            }
            

            .info{
                display: flex;
                align-items: center;
                position: absolute;
                bottom: 6%;
                right: 4%;
                width: auto;
                height: 70px;
                background-color: #59d8ff74;
                border-radius: 20px;
                font-size: 20px;

                h2{
                    opacity: 100%;
                    color: black;
                    padding-left:8px ;
                    padding-right: 8px;
                    width: auto;
                }

                #counter{
                    filter: blur(5px);
                }

                
            }
       
            
       
       
        }
        

        
            .projet {
                flex-direction: column;
                position: absolute;
                width: 0%;
                height: 100vh;
                z-index: 5;
                background-color: rgba(0, 0, 0, 0.954);
                transition: 0.4s;
                h2{
                    display: none;
                    height: 32px;
                }
                .close1{
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    width: 32px;
                    height: 32px;
                    cursor: pointer;
                }


                &.open{
                    display: flex;
                    color: white;
                    width: 100%;
                    transition: 0.4s;
                    h2{
                        display: block;
                        
                    }
                    .grille{
                        display: grid;
                    }              
                }


                .grille{
                    max-width: 1300px;
                    width: 100%;
                    height: auto;
                    margin: auto;
                    display: none;
                    grid-template-columns: repeat(auto-fill, 300px) ;
                    justify-content: center;
                    grid-gap: 10px;
                    color: black;
                    .grid-item{
                        align-items: center;
                        border-radius: 25px;
                        font-size: 24px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width:300px;
                        background-color: white;
                        .axe{
                            width: 100%;
                            border-radius: 25px;
                        }
                    }
                }

            }


            .myskill {
                flex-direction: column;
                position: absolute;
                width: 0%;
                height: 130vh;
                z-index: 5;
                background-color: rgba(0, 0, 0, 0.954);
                transition: 0.4s;
                

                h2{
                    display: none;
                }
                .close2{
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    width: 32px;
                    cursor: pointer;
                }
                


                &.open{
                    display: flex;
                    color: white;
                    width: 100%;
                    transition: 0.4s;
                    h2{
                        display: block;
                    }
                    .skill{
                        display: grid;
                    } 
                                 
                }

                .skill{
                    max-width: 1300px;
                    width: 100%;
                    height: auto;
                    margin: auto;
                    display: none;
                    grid-template-columns: repeat(auto-fill, 300px) ;
                    justify-content: center;
                   
                    grid-gap: 10px;
                    .grid-skill{
                        border-radius: 25px;
                        font-size: 24px;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        height: 100%;
                        width:300px;
                        background-color: white;
                        
                    }
                }

            }

            .whoiam {
                flex-direction: column;
                position: absolute;
                width: 0%;
                height: 100vh;
                z-index: 5;
                background-color: rgba(0, 0, 0, 0.954);
                transition: 0.4s;
                
                h2{
                    display: none;
                }
                .me{
                    display: none;
                    
                    
                    
                }
                
                .e3{
                    justify-content: center;
                    display: flex;
                    align-items: center;
                    width:100%;
                    height: 90%;
                    flex-direction: column;
                    
                }
                p{display: none;}

                .close3{
                    position: absolute;
                    z-index: 1;
                    top: 10px;
                    right: 10px;
                    width: 32px;
                    cursor: pointer;
                    
                }



                &.open{
                    display: flex;
                    color: white;
                    width: 100%;
                    transition: 0.4s;
                    height: 100vh;
                    h2{
                        display: block;
                    }
                    .me{
                        display: block;
                        height: 50%;
                        transition: 2s;
                        width: auto;
                        
                    }
                    p{
                    
                        display: block;
                        width: 100%;
                        height: 30%;
                        text-align: center;
                        font-size: 50px;
                    }
                                        
                }



            }




    }


    






} 

@media only screen and (max-width: 800px){
    
    body{

    
    
    
        header{
            position: fixed;
            padding: 25px;
            display: flex;
            justify-content:space-between;
            align-items: center;
            width: 100%;
            

            ul{
                gap: 2px;
                flex-direction: column;
                
                li{
                    list-style: none;
                    padding-left:5px;
                        padding-right:5px;
                        padding-top: 7px;
                        padding-bottom: 7px;
                        font-size: 20px;
                    .link{
                        position: relative;
                        color: black;
                        text-decoration: none;
                        padding-left:5px;
                        padding-right:5px;
                        cursor: pointer;
                        
                        
                        
    
    
                        &::after{
                            content: "";
                            position: absolute;
                            bottom: -5px;
                            width: 0%;
                            left: 50%;
                            height: 2px;
                            background-color: #59D7FF;
                            transition: 0.4s ease-out;   
                         
                        }
    
                        &:hover::after{
                        left: 0;
                        width: 100%; 
                        }
    
    
                    }
                    
                    
    
                }
            
    
    
                
            }
    
            .contact{
                display: none;
            }
                
        }

        main{
            .whoiam {
                &.open{
                        .me{
                            height: 30%;
                            width: auto;
                        }
                        p{
                            display: block;
                            width: 80%;
                            text-align: center;
                            font-size: 30px;
                        }
                    
                }
            }  
        }

    }

}
