*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
}



body{
    height: 100%;
    width: 100%;
    background: no-repeat url(img/269188.png);
    background-size: 100%;

    


    header{
        padding: 25px;
        display: flex;
        justify-content:space-between;
        align-items: center;
        
        ul{
            background-color: rgba(237, 237, 237, 0.400);
            
            display: flex;
            align-items: center;
            gap: 70px;
            border-radius: 50px;

            li{
                list-style: none;
                padding-left:5px;
                    padding-right:5px;
                    padding-top: 7px;
                    padding-bottom: 7px;
                    font-size: 20px;
                .link{
                    position: relative;
                    color: black;
                    text-decoration: none;
                    padding-left:5px;
                    padding-right:5px;
                    
                    


                    &::after{
                        content: "";
                        position: absolute;
                        bottom: 0;
                        width: 0%;
                        left: 50%;
                        height: 2px;
                        background-color: #59D7FF;
                        transition: 0.4s ease-out;   
                     
                    }

                    &:hover::after{
                    left: 0;
                    width: 100%; 
                    }


                }
                
                

            }
        


            
        }

        .contact{
            text-decoration: none;
            color: black;
            border-radius: 90px;
            border: solid 2px black;
            padding-top: 4px;
            padding-bottom: 4px;
            padding-left:7px;
            padding-right:7px;
           }

        .contact:hover{
        background-color: #59d8ff74;
        color: white;}
            
    }

    main{
        display: flex;
        justify-content: center;
        div{
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            img{
                background-color: rgb(185, 188, 190);
                border-radius: 90%;
                position: absolute;
                width: auto 50%;
                height: 80%;
                bottom: 0;
                transition: 0.4s;
            }

            img:hover{
                width:  auto 60%;
               height: 85%; 
            }
            

            .info{
                position: absolute;
                bottom: 60%;
                width: 10%;
                left: 60%;
                right: 10%;
                height: 70px;
                background-color: #59d8ff74;
                border-radius: 20px;
                transition: 0.4s;
                font-size: 20px;

                h2{
                    opacity: 100%;
                    color: black;
                    padding-left:4px ;
                }

                #counter{
                    filter: blur(5px);
                }

                
            }
       
            .info:hover{
                width: 15%;
                height: 80px;
                font-size: 30px;
            }
            
       
       
        }
        

    }


    






} 